.slider {
    --handle: #362A89;
    --line: #D1D6EE;
    --line-active: #362A89;
    --value-color: #362A89;
    touch-action: none;
    user-select: none;
    width: 320px;
    height: 2px;
    border-radius: 1px;
    position: relative;
    svg {
        display: block;
        height: 83px;
        path {
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-width: 2;
        }
    }
    .active,
    & > svg {
        position: absolute;
        left: 0;
        top: -41px;
        height: 83px;
    }
    & > svg {
        width: 100%;
    }
    .active {
        position: absolute;
        overflow: hidden;
        width: calc(var(--active-width) * 1px);
        svg {
            --stroke: var(--line-active);
            width: var(--slider-width);
        }
    }
    .noUi-handle {
        --y: 0;
        cursor: grab;
        .point {
            position: relative;
            transform: translateY(calc(var(--y) * 1px));
            &:before {
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: var(--handle);
                transform: scale(var(--handle-scale, .75)) translateZ(0);
                transition: transform .25s ease;
            }
            .value {
                position: absolute;
                left: 50%;
                bottom: 100%;
                font-size: 12px;
                font-weight: 500;
                color: var(--value-color);
                pointer-events: none;
                opacity: var(--value-o, 0);
                transform: translate(-50%, var(--value-y, 0)) scale(var(--value-scale, .5)) translateZ(0);
                transition: transform .25s ease, opacity .25s linear;
            }
        }
        &.noUi-active {
            --handle-scale: 1;
            --value-o: 1;
            --value-y: -8px;
            --value-scale: 1;
        }
    }
    // Structure
    * {
        touch-action: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    &.noUi-state-tap .noUi-connect,
    &.noUi-state-tap .noUi-origin {
        transition: transform .25s;
    }
    .noUi-target {
        position: relative;
    }
    .noUi-base,
    .noUi-connects {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .noUi-origin,
    .noUi-connect {
        position: absolute;
        will-change: transform;
        transform-origin: 0 0;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .noUi-connects {
        overflow: hidden;
        z-index: 0;
        border-radius: 1px;
        .noUi-connect {
            width: 100%;
            height: 100%;
        }
    }
    .noUi-handle {
        backface-visibility: hidden;
        position: absolute;
        outline: none;
        cursor: pointer;
        width: 32px;
        height: 32px;
        left: 16px;
        top: -15px;
    }
    .noUi-origin {
        left: auto;
        right: 0;
        height: 0;
        width: 10%;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Inter', Arial;
    background: #F6F8FF;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}
